.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 4px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-content-left {
  /* background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%); */
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 4px 4px 0;
  position: relative;
  /* background: linear-gradient(90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%); */
  background: var(--primary-color);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h2 {
  font-size: 1.3rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1.8rem;
  color: var(--font-body);
}

.form-inputs {
  margin-bottom: 1.2rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: var(--font-body);
  float: left;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: 1px solid var(--border);
  color: var(--font-body) !important;
}

.form-input::placeholder {
  color: var(--font-body);
  font-size: 0.8rem;
}

.form-input-btn {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  background: var(--primary-color);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;

  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 1rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
  color: var(--font-body);
}

.form-input-login a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.logo_inverted {
  display: flex;
  float: left !important;

  margin: 24px 40px 60px 65px;
}

.checkbox {
  float: left;
  color: var(--font-body);
  font-size: 1.2rem;
}
