@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* global reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* CSS Variables */
:root {
  --primary-color: #4c51bf;
  --secondary-color: #48bb78;
  --orange: #f6ad55;
  --red: #e53e3e;
  --white: #fff;
  --background-wrapper: #edf2f7;
  --border: #cbd5e0;
  --font-body: #718096;
  --disabled: #e1e2f4;
}

/* font-sizes */

.h2__medium {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--font-body);
}

.p__medium {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--font-body);
}

.p__semi {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--font-body);
}

.p__medium {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--font-body);
}

.p__small {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-body);
}

.App {
  text-align: center;
}

.ant-row .ant-row-middle {
  color: #4c51bf !important;
}
.ant-typography {
  color: #fff !important;
}

.button {
  height: 40px;
  width: 95px;
  border-radius: 4px;
}

.stepper__container {
  margin-top: "16px" !important;
  border: "1px solid #cbd5e0";
  padding: "17px";
  border-radius: "4px";
  background: "#fff";
}

.ant-steps-item-icon {
  color: #48bb78 !important;
  border: 1px solid #48bb78;
  background-color: #48bb78;
}

.ant-steps-item-icon {
  color: #48bb78 !important;
}
